<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- Ctrl+space 누르면 입력 힌트가 나온다. -->
<!-- 이 매퍼는 2개의 객체를 바인딩 시키는 것을 매핑이라고 합니다.
이 메퍼는 회원 관리 CRUD를 처리하는 쿼리를 모아놓는 파일. 검색, 페이징처리기능 등등
memberMapper.selectMember -->
<mapper namespace="memberMapper">
<select id="countMember" resultType="int">
select count(*) from tbl_member
</select>
<!-- pageVO 받아서 처리 무조건 조회 -->
<select id="selectMember" resultType="com.edu.vo.MemberVO">
select * from tbl_member
where user_id= #{search_keyowrd}
</select>
</mapper>